@media only screen and (max-width:600px) {
    body{
        background-color: rgb(243, 243, 192);
    }  li{
        display: inline-block;
       margin-right: 10px;  
    }
       *{
        font-family: Calibri;
    } 
    
    h1{
        font-size: 34px;
    }
    div{
       text-align: end;
    }
  
 
        
       


}
   

